/* Licensed Universal Sans files from Family Type → public/fonts/ (woff2).
   App stack (--font-sans): "Universal Sans", "Inter", system-ui, sans-serif */
@font-face {
  font-family: "Universal Sans";
  src: url("/fonts/UniversalSans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Universal Sans";
  src: url("/fonts/UniversalSans-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Universal Sans";
  src: url("/fonts/UniversalSans-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
